body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.form-control{
    border-radius:5px;
    border-style: solid;
    border-color: black;
    margin-top:5px;
    margin-bottom:5px;
}
.col-md-4{
    margin-top:5px;
    margin-bottom:5px;
}
.btn btn-primary btn-lg{
    margin-top:5px;
    margin-bottom:5px;
}
.grid { margin: 0; border-collapse: collapse; width: 100%; font-family: 'Times New Roman', serif;}
.grid th, .grid td { border: 1px solid #C0C0C0; padding: 5px; }
                                .head { background-color: #D2D3F2; font-weight: bold; color: #fff;margin: 1%; }
                                .alt { background-color: #f8f8f8; color: #000;margin: 1%; }

.form-horizontal {
    margin-top: 8%;
}

.alt td {
    margin: 10px;

}

.head th{
    margin: 20px;
    text-align: center;
}

.head {
    font-size: 6pt;
    font-style: italic;

}
.alt {
    font-size: 8pt;
    font-weight: bolder;
}